.profile__image {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url(../../../images/profile-image-2.jpg);
}