.profile__button-edit {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url(../../../images/button_edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: .8;
}

@media screen and (max-width: 700px) {
    .profile__button-edit {
        width: min(5.625vw, 24px);
        height: min(5.625vw, 24px);
    }
}