.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url(../../../images/button_edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 720px) {
    .profile__button-edit {
        width: min(5.625vw, 24px);
        height: min(5.625vw, 24px);
    }
}