.places {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    display: grid;
    column-gap: 1.1rem;
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    grid-template-rows: auto;
    padding-top: 3rem;
}

@media screen and (max-width: 700px) {
    .places {
        padding-top: 2.25rem;
    }
}