.popup__container {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding: 0;
    
}

@media screen and (max-width: 575px) {
    .popup__container {
        width: 282px;
    }
}