.profile {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 36.25px;
}

@media screen and (max-width: 700px) {
    .profile {
        flex-direction: column;
        align-items: center;
        padding-top: 38.25px;
    }
}