.form__item {
    width: 90%;
    align-self: flex-start;
    margin: .5rem auto 0 auto;
    border: 0;
}

@media screen and (max-width: 475px) {
    .form__item {
        width: 90%;
        margin: .5rem auto 0 auto;
    }
}