.form__toggle {
    width: 510px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    padding-top: 145px;
}

@media screen and (max-width: 475px) {
    .form__toggle {
        width: 282px;
        height: 352px;
    }
}