.profile__name {
    font-size: 2.625rem;
    line-height: 1.14;
    font-weight: 500;
    margin: 0 0 1rem 0;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .profile__name {
        font-size: min(2.625rem, 8.43vw);
        text-align: center;
        padding-left: 36px;
        margin-bottom: 14px;
    }
    .profile__name::before {
        content: " "
    }
}