.profile__avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .profile__avatar {
        width: 100%;
        flex-direction: column;
    }
}