.popup__button-close {
    width: 32px;
    height: 32px;
    margin: 0 0 8px 8px;
    display: flex;
    align-self: flex-end;
    background-image: url(../../../images/button-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 575px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        margin: 0 0 16px 16px;
        background-image: url(../../../images/button-close-small.svg); 
    }
}