.popup__form-item {
    width: 83.25%;
    align-self: flex-start;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

.popup__form-item:first-child {
    margin-top: 34px;
    margin-bottom: 54px;
}

.popup__form-item:last-child {
    margin-top: 47px;
    margin-bottom: 37px;
}

@media screen and (max-width: 575px) {
    .popup__form-item {
        width: 90%;
    }

    .popup__form-item:first-child {
        margin-top: 25px;
        margin-bottom: 75px;
    }
    
    .popup__form-item:last-child {
        margin-top: 45px;
        margin-bottom: 25px;
    }
}