.profile__info {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 1.4rem auto;
}

@media screen and (max-width: 700px) {
    .profile__info {
        width: 100%;
    }
}

