.footer {
    grid-row: 4;
    grid-column: 2;
    padding: 4.2rem 0 3.8rem 0;
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 3.6rem 0 3rem 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 3rem 0 2.25rem 0;
    }
}